body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

header,
.left-column,
.right-column {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-left: 35px;
    padding-right: 35px;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.logo-image {
    object-fit: contain;
    max-width: 100%;
    height: auto;
}

.add-book {
    padding: 10px;
    letter-spacing: 3px;
    text-decoration: none;
    background-color: #090808;
    color: #fff;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.left-container {
    width: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 35px;
}

.sort-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 5px;
    letter-spacing: 2px;
    margin-left: 35px;
    margin-bottom: 10px;
    background-color: #777B84;
    color: #fff;
}

.sort-buttons:hover {
    background-color: #090808;
    color: #fff;
    cursor: pointer;
}

.book-container {
    max-width: 1600px;
    padding: 50px 20px;
    margin: 0 auto;
}

.bookGalleryImg {
    max-width: 100%;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    border-radius: 10px;
    position: relative;
    transition: transform 250ms;
    cursor: pointer;
}

.bookGalleryImg:hover {
    transform: translateY(-2px);
    box-shadow: 3px 3px 10px #000;
}

#book-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: 250ms transform;
    padding: 50px;
}

/* might need some refinement once we get the data coming through */
#selected-book {
    max-height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 40px;
}

/* might need some refinement once we get the data coming through */
.popup-title {
    color: #090808;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 10px;
}

/* might need some refinement once we get the data coming through */
.popup-author {
    color: #090808;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

/* might need some refinement once we get the data coming through */
.popup-description {
    color: #090808;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.form-title {
    margin-bottom: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 23pt;
}

.add-book-form {
    margin-bottom: 15px;
}

input,
select {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
}

.select-label {
    text-align: left;
}

textarea {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button {
    background-color: #777B84;
    color: #fff;
    width: 145px;
}

.submit-button:hover {
    background-color: #090808;
    color: #fff;
    cursor: pointer;
}

footer {
    height: 200px;
    margin-top: 200px;
}

.back-main {
    padding: 10px;
    letter-spacing: 2px;
    margin-left: 35px;
    text-decoration: none;
    background-color: #090808;
    color: #fff;
}

.jump-bottom {
    padding: 2px;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-left: 35px;
    text-decoration: none;
    background-color: #090808;
    color: #fff;
}

.back-top {
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    padding: 10px;
    letter-spacing: 2px;
    margin-left: 35px;
    text-decoration: none;
    background-color: #090808;
    color: #fff;
}

.jump-bottom:hover,
.back-top:hover {
    background-color: rgba(0, 0, 0, 0.15);
    color: black;
}

/* form text box input styling needs work */

/* .book-desc-text {
    margin: 10px 0;
    padding: 20px;
    background-color: #fff;
    font-size: 16px;
} */